<div class="container-fluid fill">
	<div class="thumbnail">
		<%= image_tag @painting.image_url(:large) %>
		<div class="caption text-center">
			<h1> <%= @painting.title %> </h1>
			<p><%= @painting.description %></p>
			<a href="mailto:saragazzaz@gmail.com?subject=Regarding <%= @painting.title%>" target="_top">
				<button class="btn btn-success">Contact Me about it</button>
			</a>
		</div>
		<% if current_user.present? && current_user.admin %>
		<% content_for :show do %>
		<%= button_to "edit", edit_painting_path(@painting), method: :get, class: "btn" %>
		<%= button_to "Delete", @painting, method: :delete, data: { confirm: "Are you sure you want to delete this painting?" }, class: "btn" %>
		<% end %>
		<% end %>
	</div>