<%= form_for @photo do |f| %>
<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Title</label>
		<%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<%= f.text_area :description, class: "form-control", placeholder: 'Description' %>
	</div>
	<div class="form-group">
		<label for="fileinput">File input</label>
		<%= f.file_field :image %>
		<p class="errors"><%= @photo.errors.full_messages.first if @photo.errors.any? %></p>
	</div>
	<%= f.submit class: "btn btn-default" %>
</form>
<% end %>